// card cores
$blue-color: #00acdc;
$dark-blue: #060b35;
$white-color: #fff;
$off-grey: #616070;

// card fontes
$font-main: Roboto, sans-serif;
$thin-font: 400;
$medium-font: 500;
$large-font: 700;

// card Margens
$margin-left: 20px;

// card Tamanhos
$line-height-text: 18px;
$padding-left: 16px;
